
 .subNav__menu {
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
  
    display: flex;
    justify-content: center;
    padding: 15px 0;
    .subNav__link {
      list-style-type: none;
      margin: 0 40px;
      text-shadow: 2px 2px black;
      color: #AAA9AD;
      font-size: 30px;
      font-weight: bolder;
      text-decoration: none;
  
      @media (max-width: 637px) {
        margin: 0 12px;
        font-size: 18px;
      }
    }
    .subNav__link:hover{
        color: white;
    }
  }